.page--contact {

  section {
    padding-top: 100px;
  }

  .header {
    background: url('../images/stephenweberbanner_abstract.jpg') center 30% no-repeat;
    background-size: cover;

    .slogan {

      .header-title {

      }

    }
  }

  .complimenting-text {
    i {
      font-size: 8em;
    }
  }

  .section-larger {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  #me-section {

  }

  #developing-section {

  }

  #consulting-section {

  }

  #leadership-section {

  }

  #difference-section {

  }

  #why-section {

  }

  #process-section {

    .mdl-card {
      .mdl-card__title {
        padding-left: 60px;
      }
      .step-num {
        position: absolute;
        top: 25px;
        left: 0px;
        font-size: 6em;
        opacity: .2;
      }
      .mdl-card__supporting-text {
        padding-top: 40px;
      }
    }

  }

  #spider-chart {
    height:400px;
  }

  #skills-grid {
    // max-width: 800px;

    $tilt: -25deg;

    .mdl-cell {
      // -webkit-transform: rotateX( $tilt );
      // -moz-transform: rotateX( $tilt );
      // -o-transform: rotateX( $tilt );
      // transform: rotateX( $tilt );
      // width: 300px;

      .mdl-card {
        width: 300px;
        height: 300px;

        // width: 320px;
        // height: 320px;

        .mdl-card__title-text {
          // position: absolute;
          // top: 20px;
          // left: 20px;
          // height: 188px;
          margin-bottom: 20px;
        }

        .yrs-label {
          position: absolute;
          top: 20px;
          right: 20px;
        }

        // .chart-container {
        //   width: 100%;
        //   height: 200px;

        //   .skills-card-canvas {
        //     position: absolute;
        //     top: 5px;
        //     left: -5px;
        //     width: 100%;
        //     height: 200px;
        //   }
        // }

      }

    }

  }

}